In [5]:
# 클래스는 큰틀이고 그 틀에서 탄생한 모양들이 객체이다.
class Human:
    pass
areum = Human()
class Human:
    def __init__(self):
        print("응애응얘")
areum = Human()

응애응얘

In [19]:
class Human:
    def __init__(self, name, age, a):
        self.name = name
        self.age = age
        self.a = a
    def who(self):
        print("이름 : {} 나이 : {} 성별 : {}".format (self.name, self.age, self.a))
    def setinfo(self):
        self.name = name
        self.age = age
        self.a = a

        
areum = Human("아름이", 20, "여자")
print(areum.age)

20

In [10]:
print(areum.name)
print(areum.age)
print(areum.a)

아름이
20
여자

In [18]:
areum.who()

아름이 20 여자

In [21]:
class OMG : 
    def print() :
        print("Oh my god")

myStock = (OMG)
myStock.print()

Oh my god

In [66]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)
a.set_code("005930")
print(a.code)

삼성 = Stock("삼성전자","005930")
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930
삼성전자
005930

In [93]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr):
        self.pbr = pbr
    def set_dividend(self, 배당수익률):
        self.배당수익률 = 배당수익률
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [114]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

a = []
a.append(LG전자)
a.append(삼성)
a.append(현대차)
for i in a:
    print(i.code, i.per)

066570 317.34
005930 15.79
005380 8.7

In [131]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    pass

class 자전차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자동차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)

class 차:
    def __init__(self, 바퀴, 가격, a):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.a = a
    def 정보(self):
        print("바퀴수", self.바퀴)
        print("가격", self.가격)
        print(self.a)
class 자전차(차):
    pass
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
시마노

In [213]:
import random
class Account:
    def __init__(self, name, money):
        self.name = name
        self.money = money
        self.bank = "SC은행"
        a = []
        while 1 == 1:
            if len(a) == 3 and len(b) == 2 and len(c) == 6:
                break
            else:
                a = []
                for i in range(1, 4):
                    a.append(random.randint(0, 9))
                    a = list(set(a))
                b = []
                for i in range(1, 3):
                    b.append(random.randint(0, 9))
                    b = list(set(b))
                c = []
                for i in range(1, 7):
                    c.append(random.randint(0, 9))
                    c = list(set(c))
        d = a + b + c
        
        
        

kim = Account("나비", 200)
print(kim.name)

나비

In [225]:
f = open("C:/Users/human-09/Desktop/'매수종목1.txt'", 'w')
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [226]:
f = open("C:/Users/human-09/Desktop/'매수종목2.txt'", 'w')
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAAVER")
f.close()

In [227]:
f = open("C:/Users/human-09/Desktop/'매수종목1.txt'", 'r')
f.read()
f.close()

In [2]:
per = ["10.31", "", "8.00"]
try:
    for i in per:
        print(float(i))
except ValueError:
    print(0)

10.31
0

In [4]:
per = ["10.31", "", "8.00"]
try:
    for i in per:
        print(float(per))
finally:
    per = [10.31, "", 8.00]
    a = per
    print(a)

[10.31, '', 8.0]

TypeError: float() argument must be a string or a real number, not 'list'

In [7]:
try:
    4 / 0
except ZeroDivisionError:
    print("zero")

zero

In [9]:
data = [1, 2, 3]
try:
    for i in range(5):
        print(data[i])
except IndexError as e:
    print(e)

1
2
3
list index out of range

In [11]:
per = ["10.31", "", "8.00"]

try:
    for i in per:
        print(float(per))
except TypeError:
    print("one")
else:
    for a in per:
        print(a)
finally:
    for b in per:
        print(b)

one
10.31

8.00

In [18]:
import datetime
now = datetime.datetime.now()
print(now)
print(type(now))

2024-05-21 10:33:40.601436
<class 'datetime.datetime'>

In [25]:
import time
print(time.time())
print(time.localtime(time.time()))
print(time.asctime(time.localtime(time.time())))
print(time.ctime())

1716255976.8465238
time.struct_time(tm_year=2024, tm_mon=5, tm_mday=21, tm_hour=10, tm_min=46, tm_sec=16, tm_wday=1, tm_yday=142, tm_isdst=0)
Tue May 21 10:46:16 2024
Tue May 21 10:46:16 2024

In [27]:
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [28]:
import math
print(math.gcd(60, 100, 80))
print(math.lcm(25,24))

20

In [33]:
import random
print(random.random())
print(random.randint(1, 100))

0.8957916512827274
36