In [1]:
# 그 이전 학습 복습 내용
# [] -> 리스트: 추가, 수정, 삭제, 순서, 중복 가능
# () -> 튜플: 추가, 수정, 삭제 불가능. 순서, 중복 가능
# {} -> 딕셔너리: 추가, 수정, 삭제 가능. 순서, 중복 불가능

In [5]:
# 집합 자료형(set)
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(Unordered)
s1 = set([1, 2, 3])
print(type(s1))
s1

<class 'set'>

{1, 2, 3}

In [7]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [9]:
s2 = {1, 2, 2, 3}
print(s2)
s3 = (1, 2, 2, 3)
print(s3)

{1, 2, 3}
(1, 2, 2, 3)

In [10]:
s3[0] # 리스트

1

In [12]:
s2[0]   # 집합 -> error

TypeError: 'set' object is not subscriptable

In [13]:
s2 = {1, 2, 2, 3}
l2= list(s2)
print(l2)
print(l2[0])

[1, 2, 3]
1

In [14]:
s2 = {1, 2, 2, 3}
l3= tuple(s2)
print(l3)
print(l3[1])

(1, 2, 3)
2

In [15]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

{4, 5, 6}

In [17]:
# 교집합 구하기
print(s1 & s2)
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [18]:
# 합집합 구하기
print(s1 | s2)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
# 차집합 구하기
print(s1 - s2) # s1기준으로  s2를 원소를 뺀다
print(s2 - s1) # s2기준으로 s1를 원소를 뺀다
print(s1.difference(s2))    # s1기준으로  s2를 원소를 뺀다
print(s2.difference(s1))    # s2기준으로 s1를 원소를 뺀다

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [23]:
# 집합 자료형 관련 함수
# 1. add함수 비슷한 거:append, insert
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [24]:
# 2. 값 여러 개 추가하기 - update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [25]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [36]:
# 문제1
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 적어보시오
a = 13
a = a % 2
a

1

In [31]:
# 문제2
# 주민등록번호 뒷 자리 맨 첫번째 숫자가 성별을 나타낸다.(ex) 880211-1345211
# 주민등록번호에서 성별을 나타내는 숫자를 출력
a = '880211-1345211'
print(a)
a[7]

880211-1345211

'1'

In [35]:
# 문제3
# a리스트에서 중복 숫자를 제거해 보자
# a = [1,1,1,2,2,3,3,3,4,4,5]
# 첫번째 코드 -> a 리스트를 집합 자료형으로 변환하는 코드
# 두번째 코드 -> 집합 자료형을 리스트 자료형으로 다시 변환하는 코드를 작성
a = [1,1,1,2,2,3,3,3,4,4,5]
print(a)
a = set(a)
print(a)
a = list(a)
print(a)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]